<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GEMTQ_Arch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GEMTQ_Arch.Properties.Settings.MyCnn" connectionString="Data Source=ramitta;Initial Catalog=GEMTQ_Arch;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GEMTQ_Arch.Properties.Settings.servercnn" connectionString="Data Source=ramitta;Initial Catalog=GEMTQ_Arch;Integrated Security=True" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <GEMTQ_Arch.Properties.Settings>
            <setting name="state" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OldCnn" serializeAs="String">
                <value>Data Source=GEMTQ-SERVER;Initial Catalog=GEMTQ_Arch;User ID=Gemtq;Password=gemtq@2018</value>
            </setting>
        </GEMTQ_Arch.Properties.Settings>
    </userSettings>
</configuration>
