<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Interop.Acrobat" version="1.0.1" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net452" />
  <package id="MoonPdfLib-x86" version="0.3.0" targetFramework="net452" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net452" />
  <package id="PdfiumViewer.Native.x86_64.no_v8-no_xfa" version="2018.3.4.252" targetFramework="net452" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.3.4.252" targetFramework="net452" />
</packages>